<input
  (input)="onSearch($event)"
  class="search"
  placeholder="type something for search"
/>

<div class="result">
  <div class="group" *ngFor="let group of result$ | async">
    <h3>{{ group.key }}</h3>
    <ul>
      <li *ngIf="group.items.length === 0">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </li>
      <li *ngFor="let item of group.items" (click)="onSelect(group.key, item)">
        {{ item.title }}
      </li>
    </ul>
  </div>
</div>
